# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint


# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.moved-aside
*.xcuserstate
*.orig

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# User-specific files
.idea/
*.swp
*.swo
*.tmp
Ahavat Yeshua.xcodeproj/project.xcworkspace/xcuserdata/iliapavlov.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
